# asterisk.service - Load Dahdi and Asterisk on system boot
#    Copyright (C) 2019  Jeremy Lincicome (W0JRL)
#    https://jlappliedtechnologies.com  admin@jlappliedtechnologies.com
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# Service Start
[Unit]
Description=Asterisk PBX and telephony daemon
Documentation=man:asterisk(8)
Wants=network.target
After=network.target

[Service]
Type=simple
StandardOutput=null
ExecStartPre=/sbin/modprobe dahdi
ExecStartPre=/usr/sbin/dahdi_cfg
ExecStartPre=/usr/local/bin/dsp.startup
ExecStart=/usr/sbin/asterisk -f -C /etc/asterisk/asterisk.conf
ExecStartPost=-/usr/sbin/asterisk -rx 'module load chan_echolink.so'
ExecStop=/usr/sbin/asterisk -rx 'stop now'
ExecStopPost=-/sbin/modprobe -r dahdi
ExecReload=/usr/sbin/asterisk -rx 'module reload'

# safe_asterisk emulation
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

