#/etc/systemd/system/nodenames.service
[Unit]
Description=AllStar NodeNames updater
Wants=network.target
After=network-online.target
BindsTo=asterisk.service

[Service]
Type=simple
StandardOutput=null
ExecStart=/usr/local/bin/rc.nodenames &
ExecStop=/usr/bin/killall -9 rc.nodenames

# safe_emulation
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

