[Unit]
Description=Update NodeList for AllStar
Wants=network.target
BindsTo=asterisk.service

[Service]
Type=simple
StandardOutput=null
ExecStart=/usr/local/bin/rc.updatenodelist &
ExecStop=/usr/bin/killall -9 rc.updatenodelist

# safe_emulation
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target


